flowstar/*.cpp
flowstar/*.c
flowstar/*.h
**/.ipynb_checkpoints/*
.tags
.tags_swap
cysignals_crash_logs/*
*.pyc
**/cython_debug/*
*.so
*.o
flowstar/build/*
._*
**/outputs/*
*.eps
*.a
*.plt
**/counterexamples/*
flowstar/*.html
flowstar/old*
*.log
flowstar/flowstar-2.1.0-debug/flowstar
flowstar/flowstar-2.1.0-clean/flowstar
*.swp
.vscode/*
**/.pytest_cache/*
*.prof
tags
**/.debris/*
**/*.egg-info/*
*.egg
*.sublime-workspace
**/.idea/workspace.xml
flowstar/flowstar-2.1.0
**/.mypy_cache/*
**/*.tab.c
**/*.tab.h
**/*.output
**/flowstar
**/.history