**/.ipynb_checkpoints/*
.tags
.tags_swap
cysignals_crash_logs/*
*.pyc
**/cython_debug/*
*.so
*.o
flowstar/build/*
._*
**/outputs/*
*.eps
*.a
*.plt
**/counterexamples/*
flowstar/*.html
flowstar/old*
*.log
flowstar/flowstar-2.1.0-debug/flowstar
flowstar/flowstar-2.1.0-clean/flowstar
*.swp
