.ipybn_checkpoints/*
.tags
.tags_swap
cysignals_crash_logs/*
*.pyc
**/cython_debug/*
*.so
*.o
flowstar/build/*
._*
**/outputs/*
*.eps
*.a
*.plt
**/counterexamples/*
flowstar/*.html
flowstar/old*
*.log
