/* .rendered_html p {
    line-height: 1.5 !important;
} */

li {
    line-height: 1.6 !important;
}

.MathJax_Display {
    padding-top: 1ex !important;
    padding-bottom: 1ex !important;
}

.rendered_html tr, .rendered_html th, .rendered_html td {
    text-align: center !important;
}

td {
    padding-top: 1.5ex !important;
    padding-bottom: 1.5ex !important;
}

.rendered_html img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.rendered_html .center {
    margin-left: auto !important;
    margin-right: auto !important;
}

div.prompt {
    display: none;
}

/* div.input {
    display: none;
} */
