.rise-enabled .reveal .reveal-skip, .rise-enabled .reveal .reveal-skip .input_prompt, .rise-enabled .reveal .reveal-notes .input_prompt {
	display: none !important;
}

.widget-interact {
	display: inline-block;
}

.widget-interact > .p-Widget:not(:last-child) {
	float: left;
	margin-right: 0.5em;
}

.widget-interact > .p-Widget:last-child {
    clear: both;
}

.slides .MathJax_Display {
	margin-top: 0.7ex;
	margin-bottom: 0.7ex;
}

.slides .prompt {
	display: none;
}

.output_subarea.output_png {
    text-align: center;
}

.list-heading + ul {
	margin-top: 0ex;
}

.rendered_html img.large-image {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
}

.rendered_html img.xlarge-image {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

.rendered_html img.xxlarge-image {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}